

    <div class="jumbotron">
        <h1>PA03: New York Stock Exchange Finder </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
 This app allows you to seach the companies apart of the new york stock exchange by name or by their symbol.
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/courses/bySubject">
            Show Companies by Name: 
              <input type="text" name="Name" 
                     placeholder="e.g. 3M">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byInst">
            Show Companies by Symbol: 
            <input type="text" name="Symbol" 
                   placeholder="e.g. MMM">
            <input type="submit">
        </form>
        <br>
        <a href="/schedule/show">Show Schedule</a>
    <% } %>


